.usersPhoto{
    width: 100px;
    height:100px ;
}

/*.selectedPage{*/
/*    font-weight: bold;*/
/*    padding-left:5px;*/
/*    cursor: pointer;*/
/*}*/

/*.selectedPagePadding{*/
/*    padding-left:5px;*/
/*    cursor: pointer;*/
/*}*/

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}