.nav{
    grid-area: n;
    background-color: cornflowerblue;
    padding: 20px;
}

.item {
    padding-top: 10px;
}

.activeLink{
    color: gold;
}

a{
    text-decoration: none;
    color: white;
}